<html>
	<head>
		<meta charset="utf-8" />
		<style type="text/css">
			h1#header
			{
				color: rgb(61, 31, 228) ;
			}
		</style>
	</head>
	<body>
		<h1 id="header">Settings to compare with the air quality</h1>
		<form action = "http://localhost:5000/plotCompareAirQuality" method = "POST">

		<label for="city-select">Choose your city:</label>
		<select name="city" id="city">
			<option value="">--Please choose an option--</option>
			<option value="Toulouse_Tesco">Toulouse Tesco</option>
			<option value="Toulouse_George_Sand">Toulouse George Sand</option>
			<option value="Toulouse_La_Salade">Toulouse La Salade</option>
		</select>

		<p><label for="data-select">Choose your data:</label></p>
		<p><select name="data" id="label">
			<option value="">--Please choose an option--</option>
			<option value="temperature_partie_decimale">Temperature partie decimale</option>
			<option value="pression">Pression</option>
			<option value="humidite">Humidite</option>
			<option value="pluie_en_augets">Pluie en augets</option>
			<option value="pluie_la_plus_intense_durant_1_min">Pluie la plus intense durant 1min</option>
			<option value="force_rafale_max">Force rafale max</option>
			<option value="force_moyenne_du_vecteur_de_vent">Force moyenne du vecteur de vent</option>
			<option value="force_du_vecteur_de_vent_max">Force du vecteur de vent max</option>
		</select></p>

		<label for="city-select2">Choose your air quality data base:</label><
		<select name="city2" id="city2">
			<option value="">--Please choose an option--</option>
			<option value="Air_Quality">Air Quality</option>
		</select>
		
		<p>Sample_number<input type = "text" name = "sample_number" /></p>

		<p><input type = "submit" value = "submit" /></p>
		</form>

		<form action = "http://localhost:5000/" method = "POST">
			<p><input type = "submit" value = "Back" /></p>
		</form>
	</body>
</html>
